spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/taskmanager_test
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true

jwt:
  secret: test-jwt-secret-test-jwt-secret-test-jwt-secret
