name: CI - Backend Tests
on:
  pull_request:
    branches:
      - main


permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build & Test with Maven
        run:
          mvn -B verify --file backend/pom.xml
        env:
          MAVEN_OPTS: >
            -Dmaven.wagon.httpconnectionManager.ttlSeconds=120
            -Dmaven.wagon.http.pool=true